body {
  padding: 1%;
  background-color: rgb(143, 233, 135) !important;
}

.alert {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;

  color: black;
}

.MoneyList {
  font-size: 17px;
  font-weight: bold;
}

.active {
  background-color: rgb(94, 182, 241) !important;
}

.blink {
  background-color: rgb(245, 242, 60) !important;
  animation: blinker 1s linear 3;
}

/*
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
*/
