body {
  padding: 1%;
  background-color: rgb(143, 233, 135);
}

.alert {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;

  color: black;
}

.MoneyList {
  font-size: 17px;
  font-weight: bold;
}
/*
  background-color: rgb(94, 182, 241);
*/
