body {
  padding: 1%;
}

.alert {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.MoneyList {
  cursor: none;
  font-size: 17px;
  font-weight: bold;
}
/*
  background-color: rgb(94, 182, 241);
*/
